html {
    min-height : 100%;
}

body {
    position : relative;
    padding : 0px;
    margin : 0px;
    min-height : 100%;
    height : 100%;
    font-family: Monospace;
}

body main, #nav {
    font-size : 10pt;
}

.w-100 {
    width : 100%;
}

a:link, a:active, a:hover {
    color          : #0088d8; 
}

a:visited {
    color          : #0088d8;
}

/*
#header {
    margin           : 5% 10%;
}
*/


main {
    padding-bottom : 150px;
    margin-bottom : 6rem;
}

/* Add a pseudo element for breakpoint detection */
body:after {
    content: "bp-default";
    display: none;
}

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { */
@media only screen and (max-device-width : 480px) {
    main {
	margin-left : 0;
	margin-right : 0;
    }
    body:after {
	content: "bp-min";
    }
}

/* Phone with larger displays ----------- */
@media only screen and (min-width : 480 ) and (max-width : 768px) {
    main {
	margin-left : 25px;
	margin-right : 25px;
    }
    body:after {
	content: "bp-480";
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    main {
	margin-left : 10%;
	margin-right : 12%;
    }
    body:after {
	content: "bp-768";
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) and (max-width: 1824px) {
    main {
	margin-left : 10%;
	margin-right : 22%;
    }
    body:after {
	content: "bp-1024";
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    main {
	margin-left : 10%;
	margin-right : 30%;
    }
    body:after {
	content: "bp-max";
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header .avatar {
	height: 64px !important;
        width: 64px !important;
    }
    body main, #nav {
	font-size : 8pt;
    }
    body main {
	padding-left : 18px;
	padding-right : 18px;
    }
    #nav_ul {
	margin-top: 0 !important;
    }
    .header-banner .logo {
	transform-origin : 50% 50%;
	transform : scale(0.6);
	left : 0px;
    }
    .header-banner h1 {
	left : 150px;
	/* hyphenate */
	word-wrap: break-word;
        overflow-wrap: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}


footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

