
canvas#girih_canvas {
    position  : fixed;
    left      : 0px;
    top       : 0px;
    z-index   : -1;
}

main {
    padding        : 0;
}

footer {
    /* The footer does not apply with the dynamic front page canvas visible */
    display : none;
}

div#bloglist {
    
    width            : 0px;
    height           : 0px;
   
    padding-left     : 10%;
    z-index          : 100;
    overflow         : visible;
    background-color : rgba(128,128,128,0.5);
    white-space      : nowrap;
}
