
   
    
 

RewriteEngine On

# Added 2016-10-06 by Ika
# This line excludes the 'test' directory from the routing routine.
RewriteRule ^(test) - [L]

# Handle Front Controller...
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]



