<IfModule mod_rewrite.c>

   RewriteEngine On

   # This line excludes the 'test' directory from the routing routine.
   RewriteRule ^(test) - [L]

   # Handle Front Controller ... pass requests to the main script index.php
   RewriteBase /
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^ index.php [L]

</IfModule>
