<!DOCTYPE html>
<html>
    <head>
      <title>{{ title|default('Contents of /') }}</title>
      {% block head %}
      <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
      <link rel="icon" href="/favicon.png" type="image/png" />
      <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
      <link rel="stylesheet" href="/css/base.css" />
      <link rel="stylesheet" href="/css/pageheader.css" />
      {% if env('MODE') == 'DEVELOPMENT' %}
      <script src="/js/pageheader.js"></script>
      <script src="/js/mediaquerydetection.js"></script>
      {% else %}
      <script src="/js/core.min.js"></script>
      {% endif %}
      {% endblock %}
    </head>
    <body>     
      <header id="pageheader">
	<div class="header-banner">
	  <a href="/" class="logo"></a>	  
	  <h1>{{ bannertext|default('Oooh, that thing has numbers on it.')|raw }}</h1>
	</div>
	<div class="clear"></div>
	<nav id="nav">
	  <ul id="nav_ul">
	    <li><a href="#"><div class="avatar" id="avatar"></div></a></li>
	    <li><a href="/public">public</a></li>
	    <li><a href="https://www.github.com/ikaroskappler" target="_blank">@github</a></li>
	    <li><a href="/contact">contact</a></li>
	  <ul>
	</nav>
      </header>

      <div id="header">
        {% block header %}
        <h1>{{ headline }}</h1>
        {% endblock %}
      </div>

      <main>
	{% block content %}{% endblock %}
      </main>
      
      <footer>
        {% block footer %}
        <a href="https://www.int2byte.de/">int2byte.de</a>
        {% endblock %}
      </footer>


      {% if env('MODE') != 'DEVELOPMENT' %}
      
      <!-- Matomo -->
      <script type="text/javascript">
	var _paq = _paq || [];
	/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	(function() {
	var u="https://stats.func.name/";
	_paq.push(['setTrackerUrl', u+'piwik.php']);
	_paq.push(['setSiteId', '1']);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
	})();
      </script>
      <!-- End Matomo Code -->
      
      {% endif %}
    </body>
</html>
