{% extends "blog.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}


{% block content %}
<a name="_top"></a>
<div class="content">


  <div style="margin-left: 10%; margin-right: 10%; text-align: right; font-family: monospace;">
                                                                            Author......Ikaros Kappler<br/>
                                                                            Date............2015-04-22<br/>
                                                                            Version................1.0<br/>
  </div>




<h3>Code</h3>
<!-- BEGIN paragraph -->
<div class="tech_paragraph">
  This is the code I usually start with:<br/>
  <pre>
&lt;!DOCTYPE html>
&lt;html>
  &lt;head>
    &lt;title>Document Title&lt;/title>
    &lt;meta charset="UTF-8" />
    &lt;meta name="description" content="Content Description" />
    &lt;meta name="keywords" content="any, keywords, you, want" />
    &lt;meta name="author" content="Ikaros Kappler" />
    &lt;meta name="date" content="2015-04-22" />

    &lt;link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    
  &lt;/head>

  &lt;body>

  &lt;/body>
&lt;/html></pre>
</div>
<!-- END paragraph -->


{% endblock %}