{% extends "base.twig" %}

{% block head %}
      {{ parent() }}
      {% if env('MODE') == 'DEVELOPMENT' %}
      <link rel="stylesheet" href="/css/blog.css" />
      {% endif %}
{% endblock %}

{% block header %}
   <!-- <a href="../../"><img src="/img/backward_0_large_C.png" alt="... back" width="56" height="48" border="0" /></a> -->
   <a href="/"><img src="/img/btn-back.svg" alt="... back" width="56" height="48" border="0" /></a>
   {{ parent() }}
{% endblock %}

{% block content %}
   Here comes the blog.
{% endblock %}
