{% extends "blog.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}


{% block content %}
<a name="_top"></a>
   <div class="author">
                                                                            Author......Ikaros Kappler<br/>
                                                                            Date............2016-10-25<br/>
                                                                            Version................1.0<br/>
   </div>

<h2>Warum Sucuk?</h2>


<!-- BEGIN paragraph -->
<div class="tech_paragraph">
Weil Sucuk super schmeckt.<br/>
<br/>
An meinem Geburtstag lie&szlig; sich ein Freund mal wieder eine Sucuk in unserer Lieblingsbar 
schmecken. Die rote Farbe und die intensiv sauer und nach Kumin und Knoblauch schmeckende 
Wurst (die normalerweise aus rohem Rindsfleisch hergestellt wird) brachten uns auf den Gedanken,
dass wir doch mal versuchen könnten, diese Delikatesse auch mal vegan herzustellen (mit unserem
Gulasch und dem Chili-sin-Carne hatte das auch schon super geklappt).<br/>
<br/>
<i>Sucuk</i> ist t&uuml;rkisch und hei&szlig;t einfach nur <i>Wurst</i>.<br/>
<br/>
Sucuk-Wurst w&auml;re also Wurst-Wurst (so wie Pivo-Bier und Pasta-Nudeln).
<br/>
<br/>
<div class="excerpt typewriter">
Rezept: Sucuk / Türkische Knoblauchwurst (vegan)
================================================

Für 4 große Würste
------------------
 - 50 g Knoblauchzehen
 - 1 große rote scharfe Chilischote
 - 60g Paprikapulver (süß)
 - 175ml Saure-Gurken-Wasser
 - 100ml Rote-Beete-Saft
 - 250g Glutenmehl
 - 8g Piment 
 - 8g schwarzer Pfeffer
 - 6g Salz
 - 2 gehäufte EL Kreuzkümmel
 - 1 gehäufter EL Glutamat/Umami
 - 4 EL Olivenöl
 - möglich: Senfsaat


* Knoblauch, Chili, Gurkenwasser, Rote-Beete-Saft & das Öl gut 
  durchpürieren.
* Die Gewürze mörsern, sofern sie noch nicht gemahlen/zerstoßen 
  sind.
* Die restlichen Zutaten (Paprikapulver, Glutenmehl, Piment, Pfeffer, 
  Kreuzkümmel, Gluatamat/Umami, Salz) in einer großen Schüssel gut 
  vermengen.
* Das Püree (sehr flüssig) dazugehen und alles durchkneten, bis ein 
  roter Teig entstanden ist.
* 4 Würste formen und diese in einem Dämpfsieb über kochendem Wasser 
  20-30 Minuten dämpfen.
* Die Würste gut abkühlen lassen und vor dem Verzehren nochmal scharf 
  anbraten, eventuell vorher in Scheiben schneiden oder Würfel für 
  Menemen verwenden.
</div>

<p>
Dazu passt gut <a href="http://www.google.de/?q=cacik+tarifı" target="_blank">Cacık</a> oder <a href="http://www.google.de/?q=ispanakli+yogurtlu+tarifı" target="_blank">Ispanaklı Yoğourtlu</a>.

Freundlicher Hinweis: die ganze Sache ist _sehr_ knoblauchig.
</p>
<br/>
</div>
<!-- END paragraph -->





<h3>Der Teig</h3>
<!-- BEGIN paragraph -->
<div class="tech_paragraph">

Der Teig ist ziemlich fest und bekommt durch das Paprikapulver und den Rote-Bete-Saft eine sch&ouml;ne rote Farbe.<br/>
<img src="/public/blog.20161025_Vegane_Sucuk/20161022_151214_600x800.jpg" width="480" height="640" alt="Screenshot Teig" /><br/>


</div>





<h3>Die Zubereitung</h3>
<!-- BEGIN paragraph -->
<div class="tech_paragraph">

Den zu vier W&uuml;rsten geformten Teig zu d&auml;mpfen stellte sich als perfekte
Garmethode heraus. So wird der Seitanteig nicht zu schwamming und bleibt saftig.<br/>
<b>D&auml;mpfen in einem Metallsieb</b><br/>
<img src="/public/blog.20161025_Vegane_Sucuk/20161022_154142_600x800.jpg" width="480" height="640" alt="Screenshot D&auml;mpfen" /><br/>
<br/>


Die meisten Originalrezepte sehen auch das Braten der Sucuk vor. Also: brat brat brat.<br/>
<b>Braten nicht vergessen</b><br/>
<img src="/public/blog.20161025_Vegane_Sucuk/20161022_170256_600x800.jpg" width="480" height="640" alt="Screenshot Braten" /><br/>
<br/>
<br/>
Die gebratene Wurst war so schon lecker (und sehr knoblauchig), aber wie sich herausstellte, ist der K&ouml;nigsweg
das Aufschneiden und Braten der Wurstscheiben. Sie d&uuml;rfen ruhig etwas dunkler werden!<br/>
<b>*Brat brat brat*</b><br/>
<img src="/public/blog.20161025_Vegane_Sucuk/20161023_050551_600x800.jpg" width="480" height="640" alt="Screenshot Braten" /><br/>
<br/>
<br/>
<br/>
Unser Vorhaben f&uuml;r das n&auml;chste mal: die Sucuk mit Seidentofu, Tomaten, gr&uuml;nen Paprikaschoten und Kala-Namak
zu Menemen weiterverarbeiten.<br/>
<br/>
<br/>

Afiet Olsun!<br/>
Guten Appetit!<br/>
<br/>
(~￣▽￣)~
</div>
<!-- END paragraph -->


<br/>
<br/>
Enjoy and don't forget to cook for your friends!<br/>
<br/>
<br/>


<!-- Use and enjoy my code and do good things. Peace to the world.<br/> -->


{% endblock %}