{% extends "base.twig" %}

{% block head %}
      {{ parent() }}
      {% if env('MODE') == 'DEVELOPMENT' %}
      <link rel="stylesheet" href="/css/contact.css" />
      {% endif %}
{% endblock %}

{% block header %}
   <a href="/"><img src="/img/btn-back.svg" alt="... back" width="56" height="48" border="0" /></a>
   {{ parent() }}
{% endblock %}

{% block content %}
   Hallo, ich bin Ika (イカ).<br/>
   <br/>
   Ich lebe in Berlin, programmiere, adminstriere und mein Platzbedarf liegt in O(2n &times; log n).<br/>
   <br/>
   Email: <a href="mailto:ika@int2byte.de">ika@int2byte.de</a>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
   
{% endblock %}
