{% extends "base.twig" %}

{% block head %}
      {{ parent() }}
      <link rel="stylesheet" href="/css/contact.css" />
{% endblock %}

{% block header %}
   <a href="../../"><img src="/img/backward_0_large_C.png" alt="... back" width="56" height="48" border="0" /></a>
   {{ parent() }}
{% endblock %}

{% block content %}
   Hallo, ich bin Ika (イカ).<br/>
   <br/>
   Ich lebe in Berlin, programmiere, adminstriere und mein Platzbedarf liegt in O(2n &times; log n).<br/>
   <br/>
   Email: <a href="mailto:ika@int2byte.de">ika@int2byte.de</a>
   
{% endblock %}
