{% extends "base.twig" %}

{% block head %}
      {{ parent() }}
      {% if env('MODE') == 'DEVELOPMENT' %}
      <link rel="stylesheet" href="css/error.css" />
      {% endif %}
{% endblock %}

{% block header %}
   <h1>Error {{ code }}</h1>
{% endblock header %}

{% block main_classes %}error{% endblock %}
{% block content %}
  <div class="error">{{ message|default('There was an error.') }}</div>
{% endblock %}